@model PackageListViewModel
@{
    ViewBag.Title = String.IsNullOrWhiteSpace(Model.SearchTerm) ? "Packages" : "Packages matching " + Model.SearchTerm;
    ViewBag.SortText = String.IsNullOrWhiteSpace(Model.SearchTerm) ? "recent installs" : "relevance";
    ViewBag.Tab = "Packages";
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

<div class="container main-container page-list-packages">
    <h1>
        @if (Model.TotalCount == 1)
        {
            <text>1 package returned</text>
        }
        else
        {
            <text>@Model.TotalCount.ToNuGetNumberString() packages returned</text>
        }
        @if (!String.IsNullOrEmpty(Model.SearchTerm))
        {
            <text> for "@Model.SearchTerm"</text>
        }
    </h1>

    <div class="list-packages">
        @foreach (var package in Model.Items)
        {
            <div class="row package">
                @Html.Partial("_ListPackage", package)
            </div>
        }
    </div>

    @ViewHelpers.PreviousNextPager(Model.Pager)
</div>